<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Question</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> -->
     <link rel="stylesheet" href="static\css\nav.css">
    <link rel="stylesheet" href="static\css\create.css">
</head>
<body>
    {% include("nav.html") %}
    
    <div class="container">
    <header>
    <!-- <h1 style="text-align: center;">Admin page</h1> -->
    <h1>Create a New Question</h1>
</header>
<main>
    <form action="/create-question" method="POST">
        <label for="question_text">Question:</label>
        <textarea id="question_text" name="question_text" rows="1" cols="60" required ></textarea><br><br>
        
        <label for="taxonomy_level">Bloom's Taxonomy Level:</label>
        <select id="taxonomy_level" name="taxonomy_level">
            <option value="Remember">Remember</option>
            <option value="Understand">Understand</option>
            <option value="Apply">Apply</option>
            <option value="Analyze">Analyze</option>
            <option value="Evaluate">Evaluate</option>
            <option value="Create">Create</option>
        </select><br><br>
        
        <label for="topic">C Language Topic:</label>
        <select id="topic" name="topic">
            <option value="Introduction to C">Introduction to C</option>
            <option value="Data Types and Variables">Data Types and Variables</option>
            <option value="Operators and Expressions">Operators and Expressions</option>
            <option value="Control Structures">Control Structures</option>
            <option value="Functions">Functions</option>
            <option value="Arrays">Arrays</option>
            <option value="Pointers">Pointers</option>
            <option value="Strings">Strings</option>
            <option value="Structures and Unions">Structures and Unions</option>
            <option value="File Handling">File Handling</option>
            <option value="Dynamic Memory Allocation">Dynamic Memory Allocation</option>
            <option value="Preprocessors and Macros">Preprocessors and Macros</option>
            <option value="Error Handling">Error Handling</option>
            <option value="Advanced Topics">Advanced Topics</option>
            <option value="Miscellaneous">Miscellaneous</option>
        </select>
<br><br>        
        
<button type="submit" id="generate-btn" value="Submit">Submit</button>
    </form>
    <br>
    <br>
    <a style="text-align: center;" href="{{ url_for('view_questions') }}">View All Questions</a>
    <br><br>
    <!-- <a href="{{ url_for('logout') }}">Logout</a> -->
</main>
</div>
</body>
</html>
