<header id="header">
    <div id="logo">
        <img id="logo-image" src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        <span>EDU-GUIDE</span>
        {% if session['role'] == 'admin' %}
            <div class="role-text">Admin</div>
        {% elif session['role'] == 'user' %}
            <div class="role-text">User</div>
        {% endif %}
    </div>

    <nav id="navbar">
        <ul id="nav-list">
            <li id="nav-home"><a href="{{ url_for('index') }}">Home</a></li>
            <li id="nav-how-it-works"><a href="{{ url_for('how') }}">How It Works</a></li>
            {% if 'user_id' in session %}
            {% if session['role'] == 'admin' %}
            <li id="nav-generate-questions"><a href="{{ url_for('create_question') }}">Create Questions</a></li>
            {% elif session['role'] == 'user' %}
            <li id="nav-generate-questions"><a href="{{ url_for('user_interface') }}">Generate Questions</a></li>
            {% endif %}
            {% endif %}
        </ul>
    </nav>

    {% if 'user_id' in session %}
    <div class="profile-container">
        <button class="login-btn" id="login-btn" onclick="location.href='logout'">Logout</button>
    </div>
    {% else %}
    <button class="login-btn" id="login-btn" onclick="location.href='login'">Login</button>
    {% endif %}
</header>
