<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Questions</title>
    <link rel="stylesheet" href="static\css\nav.css">
    <link rel="stylesheet" href="static\css\generate.css">
</head>
<body>
    {% include("nav.html") %}
    
    <div class="container">
    <header>
    <h1>Generate Questions</h1>
    </header>
    <main>
        <div class="form-container">
    <form method="POST">
        <label for="keyword">Enter a Keyword:</label>
        <input type="text" id="keyword" name="keyword" required><br><br>
        <label for="taxonomy_level">Select Taxonomy Level:</label>
        <select id="taxonomy_level" name="taxonomy_level" required>
            <option value="" disabled selected>Select type</option>
            <option value="Remember">Remember</option>
            <option value="Understand">Understand</option>
            <option value="Apply">Apply</option>
            <option value="Analyze">Analyze</option>
            <option value="Evaluate">Evaluate</option>
            <option value="Create">Create</option>
        </select><br><br>
        <button id="generate-btn" type="submit">Generate</button>
    </form>
</div>
    {% if questions %}
        <h2>Generated Questions:</h2>
        <ul>
            {% for question in questions %}
            <li>{{ question[0] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <a href="{{ url_for('user_history') }}">View Search History</a> |
    <a href="{{ url_for('logout') }}">Logout</a>
</main>
</div>
</body>
</html>
