<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Questions</title>
    <link rel="stylesheet" href="static\css\nav.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% include("nav.html") %}
    <main>
    <h1 style="text-align: center;">All C Programming Questions</h1>
    <!-- <h2>All C Programming Questions</h2> -->
    <table>
        <tr>
            <th>Question</th>
            <th>Taxonomy Level</th>
            <th>Topic</th>
        </tr>
        {% for question in questions %}
        <tr>
            <td>{{ question[0] }}</td>
            <td>{{ question[1] }}</td>
            <td>{{ question[2] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Back to Home</a>
</main>
</body>
</html>
